*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-bg-dark: rgb(73, 58, 105);
  --color-bg: rgb(232, 226, 243);
  --color-purple: rgba(127, 108, 190, 0.45);
  --color-menu-text: rgb(128 115 150);
  --color-text: #22243b;
  --color-accent: plum;
  --color-white: white;
  --color-scrollbar: rgba(74, 68, 96, 0.45);
}
html.dark {
  --color-bg-dark: rgb(73, 58, 105);
  --color-bg: rgb(62, 60, 66);
  --color-purple: rgba(164, 139, 246, 0.45);
  --color-menu-text: rgb(245, 238, 255);
  --color-text: #c6cbff;
  --color-accent: rgb(88, 66, 88);
  --color-white: white;
  --color-scrollbar: rgba(74, 68, 96, 0.45);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(232, 226, 243);
  accent-color: var(--color-accent);
}
#root {
  width: 100%;
  height: 60%;
  max-width: 500px;
  background-color: var(--color-bg);
  overflow: hidden;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 5px 5px 21px 4px rgba(140, 124, 222, 0.45);
  box-shadow: 5px 5px 21px 4px rgba(140, 124, 222, 0.45);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  padding-left: 0;
}
li {
  list-style: none;
}
input {
  border: none;
}
input:focus {
  outline: none;
}
.react-icons {
  vertical-align: middle;
}
::-webkit-scrollbar {
  width: 0.3rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-purple);
}
