*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-bg-dark: rgb(48, 36, 69);
  --color-bg: rgb(232, 226, 243);
  --color-grey: plum;
  --color-text: #22243b;
  --color-accent: plum;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(232, 226, 243);
}
#root {
  width: 100%;
  height: 60%;
  max-width: 500px;
  background-color: var(--color-bg);
  border: 1px solid var(--color-accent);
  overflow: hidden;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 5px 5px 21px 4px rgba(0, 0, 0, 0.45);
  box-shadow: 5px 5px 21px 4px rgba(0, 0, 0, 0.45);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  padding-left: 0;
}
li {
  list-style: none;
}
input {
  border: none;
}
input:focus {
  outline: none;
}
.react-icons {
  vertical-align: middle;
}
